<div *ngIf="event !== undefined" class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{event.name}}</h3>
    </div>
    <div class="panel-body">
        <p>{{event.description}}</p>
        <div *ngFor="let service of event.services" class="well well-sm">
            <h4>{{service.name}}</h4>
            <p>This service costs &#36;{{service.cost}}</p>
            <div align="right">
                <button type="button" class="btn btn-danger btn-xs" (click)="selectService(service)" data-toggle="modal" data-target="#removeServiceMsg">
                    Remove Service
                </button>
            </div>
        </div>
        <div align="right">
            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#invoiceModal">
                View Invoice
            </button>
            <button type="button" class="btn btn-primary btn-sm" (click)="loadServices()" data-toggle="modal" data-target="#serviceList">
                Add New Services
            </button>
            <button type="button" class="btn btn-default btn-sm" (click)="populateForm()" data-toggle="modal" data-target="#editModal">
                Edit
            </button>
            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteMsg">
                Delete
            </button>
        </div>
    </div>
</div>

<div *ngIf="event === undefined">
    <h2>Please Select an Event</h2>
</div>

<div *ngIf="event !== undefined" class="modal fade" id="serviceList" tabindex="-1" role="dialog" aria-labelledby="serviceListLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title" id="serviceListLabel"><b>Service List</b></span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #orderForm="ngForm" class="form-inline">
                    <div class="form-group">
                        <label for="serviceOrderBy">Sort by</label>
                        <select class="form-control" id="serviceOrderBy"
                                name="serviceOrderBy" [(ngModel)]="sortForm.orderBy">
                            <option value="name">Name</option>
                            <option value="cost">Cost</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="serviceOrder">in</label>
                        <select class="form-control" id="serviceOrder"
                                name="serviceOrder" [(ngModel)]="sortForm.order">
                            <option value="ASC">Ascending</option>
                            <option value="DESC">Descending</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="serviceOrder">order.</label>
                    </div>
                </form>
                <form #filterForm="ngForm">
                    <div class="form-group">
                        <label for="selectedTags">Filter by Tags</label>
                        <select multiple class="form-control" id="selectedTags"
                                name="selectedTags" [(ngModel)]="selectedTags">
                            <option *ngFor="let tag of serviceTags" [ngValue]="tag.id">
                                {{tag.name}}
                            </option>
                        </select>
                    </div>
                </form>
                <div align="right" style="margin-bottom: 10px">
                    <input type="button" class="btn btn-default" value="Reset" (click)="resetServiceFilters(); loadServices()">
                    <input type="button" class="btn btn-default" value="Apply" (click)="loadServices()">
                </div>
                <div class="list-group">
                    <div *ngFor="let service of services" class="list-group-item service">
                        <h3 class="list-group-item-heading">{{service.name}}</h3>
                        <div class="list-group-item-text">${{service.cost}}</div>
                        <div>
                            <span *ngFor="let serviceTag of service.serviceTags" class="label label-primary" style="margin-right:5px;">
                                <span class="glyphicon glyphicon-tag"></span>&nbsp;{{serviceTag.name}}
                            </span>
                        </div>
                        <div align="right">
                            <button type="button" class="btn btn-primary btn-xs" (click)="addService(service.id)">
                                Add Service
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="event !== undefined && selectedService !== undefined" class="modal fade" id="removeServiceMsg" tabindex="-1" role="dialog" aria-labelledby="removeServiceMsgLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title" id="removeServiceMsgLabel"><b>Remove Service</b></span>
                <div class="modal-body">
                    <h1>Are you sure you want to remove this service from "{{event.name}}"?</h1>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" (click)="removeService(selectedService.id)" data-dismiss="modal">Remove Service</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="event !== undefined && selectedService !== undefined" class="modal fade" id="addServiceMsg" tabindex="-1" role="dialog" aria-labelledby="addServiceMsgLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title" id="addServiceMsgLabel"><b>Add Service</b></span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h1>Are you sure you want to add this service to "{{event.name}}"?</h1>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="addService(selectedService.id)" data-dismiss="modal">Add Service</button>
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>


<div *ngIf="event !== undefined" class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <span class="modal-title" id="editModalLabel"><b>Edit Event</b></span>
            <form #editForm="ngForm">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Event Name</label>
                        <input type="text" class="form-control" id="name"
                               required
                               name="name" [(ngModel)]="formData.name">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description"
                                  required
                                  name="description" [(ngModel)]="formData.description"
                                  rows="4" cols="50"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="date">Start Date</label>
                        <input type="text" class="form-control" id="date"
                               required
                               pattern="^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$"
                               name="date" [(ngModel)]="formData.date">
                    </div>
                    <div class="form-group">
                        <label for="time">Start Time</label>
                        <input type="text" class="form-control" id="time"
                               required
                               pattern="^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$"
                               name="time" [(ngModel)]="formData.time"
                               placeholder="HH:MM:SS">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!editForm.form.valid" (click)="updateEvent()" data-dismiss="modal">Save Event</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

<div *ngIf="event !== undefined" class="modal fade" id="deleteMsg" tabindex="-1" role="dialog" aria-labelledby="deleteMsgLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title" id="deleteMsgLabel"><b>Delete Event</b></span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h1>Are you sure you want to delete "{{event.name}}"?</h1>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" (click)="deleteEvent(event.id)" data-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="event !== undefined && event.invoice !== undefined" class="modal fade" id="invoiceModal" tabindex="-1" role="dialog" aria-labelledby="invoiceModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title" id="invoiceModalLabel"><b>Event Invoice</b></span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <font size="30">
                <div class="modal-body">
                    <p style="text-align:left;">
                        Sub Total:
                        <span style="float:right;">{{event.invoice.subTotal}}</span>
                    </p>
                    <p style="text-align:left;">
                        Tax:
                        <span style="float:right;">{{event.invoice.tax}}</span>
                    </p>
                    <hr style="background:#000000; border:0; height:4px" />
                    <p style="text-align:left;">
                        Grand Total:
                        <span style="float:right;">{{event.invoice.grandTotal}}</span>
                    </p>
                </div>
            </font>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

