<style>
    .btn-text {
        text-align: center;
        margin: auto;
    }
</style>

<div *ngIf="event !== undefined" class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{event.name}}</h3>
    </div>
    <div class="panel-body">
        <p>{{event.description}}</p>
        <div *ngFor="let service of event.services" class="well well-sm">
            <h4>{{service.name}}</h4>
            <p>This service costs &#36;{{service.cost}}</p>
            <div>
                <h6>Tags</h6>
                <button *ngFor="let serviceTag of service.serviceTags" type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                    {{serviceTag.name}}
                </button>
            </div>
        </div>
        <div align="right">
            <button type="button" class="btn btn-danger" (click)="deleteEvent(event.id)">
                <p class="btn-text" style="font-size:10px">Delete</p>
            </button>
        </div>
    </div>
</div>
<div *ngIf="event === undefined">
    <h2>Please Select an Event</h2>
</div>
