<div class="container">
    <h1 align="center">Tell us a bit about your event!</h1>
    <form>
        <div class="form-group">
            <label for="eventNameInput">Event Name</label>
            <input type="text" class="form-control" id="eventNameInput" placeholder="Bailey's Mom">
        </div>
        <div class="form-group">
            <label for="eventDescriptionInput">Description</label>
            <textarea rows="4" cols="50" class="form-control" id="eventDescriptionInput" placeholder="Everyone's invited"></textarea>
        </div>
        <div class="form-group">
            <label for="eventStart">Start Date</label>
            <input type="text" class="form-control" id="eventStart">
        </div>
        <div align="left">
            <button type="button" class="btn btn-default btn-lg" align="center">Add Services</button>
        </div>
    </form>
</div>
